body {
  font-family: "Segoe UI", sans-serif;
}

.card {
  border-radius: 12px;
}

h2 {
  font-weight: bold;
}

.list-group-item {
  border-radius: 8px;
  margin-bottom: 6px;
}

button:hover {
  opacity: 0.9;
}
